*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#android
local.properties
gradle.properties

#idea
.idea/
*.iml
*.ipr
*.iws
*.DS_Store

#java
bin/
bin-obfuscate/
staging/
gen/

#gradle
build/
.gradle/
.gradletasknamecache

#jni
/build
/libs
/obj
